<template>
  <li id="card">
    <div id="section-div" class="lg:float-left lg:w-48">
      <img class="rounded-3xl-3xl" :src="product.image" />
      <p>Seller: {{ product.seller_name }},</p>
      <p>{{ product.location }}</p>
    </div>
    <div id="section-div" class="lg:w-full pl-1">
      <h1 class="text-3xl font-bold">{{ product.name }}</h1>
      <p>Stars: {{ product.star_rating }}/5</p>
      <p>Reviews: {{ product.review_count }}</p>
      <p>Price: {{ product.price }}</p>
      <p>{{ product.available_count }} left</p>
      <p class="font-serif text-lg pt-4">{{ product.description }}</p>
      <p class="pt-4">last updated: {{ product.last_updated }}</p>
      <p>product id: {{ product.id }}</p>
    </div>
  </li>
</template>

<script>
export default {
  name: "ProductCard",
  props: ["product"],
};
</script>

<style>
#card {
  @apply
    text-center
    lg:text-left
    bg-gray-100
    text-gray-800
    rounded-3xl
    max-w-md
    mx-auto
    lg:max-w-xl;
}
#section-div {
  @apply mx-auto p-2 lg:p-4;
}
</style>
