<template>
  <div id="app" class="min-h-screen px-12 py-4 bg-gray-800">
    <!-- PAGE SELECTOR -->
    <nav class="flex justify-center items-center mb-4 bg-gray-900 rounded-3xl">
      <button class="btn" :disabled="currentPage === 1" @click="previousPage">prev</button>
      <p class="p-4 text-gray-200 text-sm md:text-lg lg:text-xl">
        page:
        <select class="bg-gray-200 text-gray-800 focus:bg-gray-100" v-model="currentPage">
          <option v-for="pageNumber in totalPages" :value="pageNumber" :key="pageNumber" class="text-gray-800">
            {{ pageNumber }}
          </option>
        </select>
        /{{ totalPages }}
      </p>
      <div>
        <button class="btn" :disabled="currentPage === totalPages" @click="nextPage">next</button>
      </div>
    </nav>
    <!-- ITEM CARDS -->
    <p v-if="loading" class="flex justify-center items-center">Loading...</p>
    <ul v-else class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
      <ProductCard v-for="product in selectedPage" :product="product" :key="product.id" />
    </ul>
  </div>
</template>

<script>
import axios from "axios"
import ProductCard from "./components/ProductCard.vue"

export default {
  name: "App",
  components: {
    ProductCard,
  },
  data() {
    return {
      loading: true,
      products: null,
      itemsPerPage: 5,
      currentPage: 1,
      totalPages: null,
    }
  },
  created() {
    axios.get(process.env.VUE_APP_API).then((result) => {
      this.loading = false
      this.products = result.data
      this.totalPages = Math.ceil(this.products.length / this.itemsPerPage)
    })
  },
  methods: {
    previousPage() {
      // do a check before updating page, as a fallback if our "disabled" button attribute is bypassed
      if (this.currentPage === 1) return null
      this.currentPage--
    },
    nextPage() {
      // do a check before updating page, as a fallback if our "disabled" button attribute is bypassed
      if (this.currentPage === this.totalPages) return null
      this.currentPage++
    },
  },
  computed: {
    selectedPage() {
      return this.products.slice(
        (this.currentPage - 1) * this.itemsPerPage,
        this.currentPage * this.itemsPerPage
      )
    },
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  @apply bg-gray-200
    text-gray-900
    px-4
    py-2
    text-sm
    hover:bg-gray-100
    transition
    duration-300
    rounded-3xl
    mx-1;
}
.btn:disabled {
  @apply bg-opacity-50 cursor-not-allowed;
}
</style>
